# Base workflow definition file. Needs to be implemented properly!
name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Install dependencies
        run: npm install

      - name: Run tests and generate coverage
        run: npm test

      - name: Save coverage artifacts
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: coverage

  coveralls:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Download coverage artifacts
        uses: actions/download-artifact@v2
        with:
          name: coverage

      - name: Install Coveralls
        run: npm install coveralls

      - name: Send coverage to Coveralls
        run: cat coverage/tmp/coverage-*.json | npx coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
